@font-face {
  font-family: 'Starjedi';
  src: url('./fonts/Starjedi.ttf') format('truetype');
}

body {
  font-family: 'Starjedi';
  background-color: rgb(0, 0, 0);
}

th, label {
  color: yellow;
}
td, p {
  color: white;
}

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
